@model IEnumerable<SistemaFacturacion.Models.FacturaProducto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalle Factura</h1>

<p>
    @if (string.Format(ViewBag.facturaAnulada) != "S")
    {
        <a asp-action="Create" asp-route-id="@TempData["numeroFactura"]">Crear Detalle Factura</a>
    }
    else
    {
        <span class="text-danger">Factura Anulada</span>
    }
</p>
<hr />
<br />
<div class="table-responsive">
    <table class="table">
        <thead class="thead-dark">
            <tr style="text-align: center">
                <th>
                    @Html.DisplayNameFor(model => model.numeroFactura)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.codigoProducto)
                </th>
                <th>
                    Producto
                </th>
                <th>
                    Descipcion
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.precioUnitario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cantidad)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr style="text-align: center">
                    <td>
                        @item.numeroFactura
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Productos.codigoProducto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Productos.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Productos.descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.precioUnitario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cantidad)
                    </td>
                    @if (string.Format(ViewBag.facturaAnulada) != "S")
                    {
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { numeroFactura = @TempData["numeroFactura"], codigoProducto = item.codigoProducto })
                        </td>
                        <td>
                            @Html.ActionLink("Eliminar", "Delete", new { numeroFactura = @TempData["numeroFactura"], codigoProducto = item.codigoProducto })
                        </td>

                    }
                </tr>
            }
        </tbody>
    </table>
</div>