@model IEnumerable<SistemaFacturacion.Models.ReporteCliente>

@{
    ViewData["Title"] = "ReporteComprasClienteNombreFecha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function mostrarDatosFecha() {
        var fecha_inicio = document.getElementById("fecha-inicio").value;
        var fecha_final = document.getElementById("fecha-final").value;
        var codigo_cliente = document.getElementById("cliente").value;

        if (fecha_inicio != "" && fecha_final != "" && codigo_cliente != "") {
            var url = "@Url.Action("ReporteComprasClienteNombreFecha", "Reporte", new { fechaInicio = "param-fecha1", fechaFinal = "param-fecha2", codigoCliente = "param-cod" })";
            url = url.replace("param-fecha1", fecha_inicio).replace("param-fecha2", fecha_final).replace("param-cod", codigo_cliente);
            url = url.replace("amp;", "");
            url = url.replace("amp;", "");
            $("#result").load(url);
            window.location.href = url;
        }
    }
</script>

<h1>Reporte de Ventas por Cliente filtrado por Nombre y Fecha</h1>

<div class="form-group">
    <label class="control-label"></label>
    <select id="cliente" class="form-control" onchange="mostrarDatosFecha()" asp-items="ViewBag.codigoCliente"></select>
    <input id="codigo" class="form-control" type="hidden" />
</div>

<div class="form-group">
    <input type="date" id="fecha-inicio" onchange="mostrarDatosFecha()" class="form-control" />
</div>

<div class="form-group">
    <input type="date" id="fecha-final" onchange="mostrarDatosFecha()" class="form-control" />
</div>

<div class="table-responsive">
    <table class="table">
        <thead class="thead-dark">
            <tr style="text-align:center;">
                <th>
                    @Html.DisplayNameFor(model => model.nombres)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.apellidos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.total)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr style="text-align:center;">
                    <td>
                        @Html.DisplayFor(modelItem => item.nombres)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.apellidos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.total)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

