@model IEnumerable<SistemaFacturacion.Models.ReporteProducto>

@{
    ViewData["Title"] = "ReporteVentasProductoNombreFecha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function mostrarDatosFecha() {
        var fecha_inicio = document.getElementById("fecha-inicio").value;
        var fecha_final = document.getElementById("fecha-final").value;
        var codigo_producto = document.getElementById("producto").value;

        if (fecha_inicio != "" && fecha_final != "" && codigo_producto != "") {
            var url = "@Url.Action("ReporteVentasProductoNombreFecha", "Reporte", new { fechaInicio = "param-fecha1", fechaFinal = "param-fecha2", codigoProducto = "param-cod" })";
            url = url.replace("param-fecha1", fecha_inicio).replace("param-fecha2", fecha_final).replace("param-cod", codigo_producto);
            url = url.replace("amp;", "");
            url = url.replace("amp;", "");
            $("#result").load(url);
            window.location.href = url;
        }
    }
</script>

<h1>Reporte de Ventas Producto por Nombre y Fecha</h1>

<div class="form-group">
    <label class="control-label"></label>
    <select id="producto" class="form-control" onchange="mostrarDatosFecha()" asp-items="ViewBag.codigoProducto"></select>
    <input id="codigo" class="form-control" type="hidden" />
</div>

<div class="form-group">
    <input type="date" id="fecha-inicio" onchange="mostrarDatosFecha()" class="form-control" />
</div>

<div class="form-group">
    <input type="date" id="fecha-final" onchange="mostrarDatosFecha()" class="form-control" />
</div>

<div class="table-responsive">
    <table class="table">
        <thead class="thead-dark">
            <tr style="text-align:center;">
                <th>
                    @Html.DisplayNameFor(model => model.codigoProducto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.totalVendido)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr style="text-align:center;">
                <td>
                    @Html.DisplayFor(modelItem => item.codigoProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.totalVendido)
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
